@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Jersey;
    background-color: white;
}

form{
    margin: 200px auto;
    height: 450px;
    width: 600px;
    background-color: rgb(86, 115, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border-radius: 12px;
}

input{
    background-color: white;
    border: none;
    width: 500px;
    height: 20px;
    padding-left: 5px;
}

select{
    background-color: white;
    border: none;
    width: 506px;
    height: 20px;
}

option{
    background-color: white;
}

textarea{
    width: 505px;
    background-color: white;
    border: none;
}

button{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
}

button:hover{
    background-color: rgb(148, 230, 255);
}