@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Jersey;
    background-color: rgb(214, 220, 233);
}

h2{
    background-color: rgb(86, 115, 245);
}

form{
    margin: 300px auto;
    height: 350px;
    width: 600px;
    background-color: rgb(86, 115, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border-radius: 12px;
}

input{
    background-color: white;
    border: none;
    width: 400px;
    height: 25px;
    padding-left: 5px;
}

button{
    width: 170px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
}

button:hover{
    background-color: rgb(148, 230, 255);
}